* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background: #202124;
    color: white;
    align-items: center;
}

.container {
    float: right;
    margin-right: 30px;
    /* border: 2px solid; */
    width: 300px;
    height: 50px;
    display: flex;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.row a {
    color: white;
    text-decoration: none;
}

.row a:hover {
    text-decoration: underline;
}

p:hover {
    text-decoration: underline;

}

#signin:hover {
    background: white;
    color: black;
}

#Header {

    /* border: solid ; */
    height: 150px;
    width: 200px;
    margin-top: 150px;
    text-align: center;
    float: right;
    margin-right: 350px;
    margin-bottom: 0;

}

p {
    display: inline;
    margin-left: 15px;

}

.container button {
    margin-left: 15px;
    width: 100px;
    height: 37px;
    background: #8ab4f7;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-top: 5px;
    /* margin-right: 20px; */
    /* padding: 0 15px; */
}

#sing {
    color: black !important;
}

form {
    margin: 50px auto;
    text-align: center;
    clear: both;
}

form input {
    margin-bottom: 30px;
    width: 600px;
    height: 45px;
    border-radius: 25px;
    background: transparent;
    border: solid #505052;
    /* border-color:  ; */
    color: white !important;
    padding-left: 60px;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: bold;

}

input:hover {
    background-color: #303134 !important;
    border: none;
    outline: none;

}

.btn button:hover {
    border: thin solid gray;
    cursor: pointer;
}

button {
    margin-left: 15px;
    margin-bottom: 0px;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background: #303134;
    border: none;
    color: white;
}

.y {
    text-align: center;
    line-height: 3;
    word-spacing: 1px;

}

div a {
    color: #8ab4f7;
    text-decoration: none;
}

div a:hover {
    text-decoration: underline gray;

}

form #one {
    position: relative;
    left: 50px;
    color: #505052;


}

#mic {
    width: 15px;
    position: relative;
    right: 40px;
    margin: -4px;
}

footer {
    background-color: #171717;
    color: #95999d;
    text-align: center;
    position: absolute;
    bottom: 0px;
    /* display: inline; */
    width: 100%;
    height: 90px;

}

footer a {
    cursor: pointer;
}

footer>p.fp {
    border: none;
    border-bottom: 1px solid gray;
    display: block;
    text-align: left;
    width: 100%;
    height: 40px;

}

footer section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 20px;
}